<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Will You Be My Valentine? 💝</title>
        <link rel="stylesheet" href="/static/css/styles.css" />
    </head>
    <body>
        <div class="container">
            <h1>Will You Be My Valentine Bubby? 💝</h1>
            <div class="gif-container">
                <img
                    src="/static/img/flowers.gif"
                    alt="Flowers"
                    class="flowers-gif"
                />
            </div>
            <div class="buttons-container">
                <button id="yesBtn" class="btn yes-btn">Yes 🥰</button>
                <button id="noBtn" class="btn no-btn">No 😢</button>
            </div>
            <div id="response" class="response"></div>
        </div>
        <script src="/static/js/app.js"></script>
    </body>
</html>
